.icon-32-js_apply { background-image: url(../images/icon-32-js_apply.png); }
.icon-32-js_back { background-image: url(../images/icon-32-js_back.png); }
.icon-32-js_cancel { background-image: url(../images/icon-32-js_cancel.png); }
.icon-32-js_configuration { background-image: url(../images/icon-32-js_configuration.png); }
.icon-32-js_default { background-image: url(../images/icon-32-js_default.png); }
.icon-32-js_exclude { background-image: url(../images/icon-32-js_exclude.png); }
.icon-32-js_graphics { background-image: url(../images/icon-32-js_graphics.png); }
.icon-32-js_help { background-image: url(../images/icon-32-js_help.png); }
.icon-32-js_save { background-image: url(../images/icon-32-js_save.png); }
.icon-32-js_statistics { background-image: url(../images/icon-32-js_statistics.png); }
.icon-32-js_status { background-image: url(../images/icon-32-js_status.png); }
.icon-32-js_summarize { background-image: url(../images/icon-32-js_summarize.png); }
.icon-32-js_tld-check { background-image: url(../images/icon-32-js_tld-check.png); }
.icon-32-js_tools { background-image: url(../images/icon-32-js_tools.png); }
.icon-32-js_uninstall { background-image: url(../images/icon-32-js_uninstall.png); }

.icon-48-js_js-logo { background-image: url(../images/icon-48-js_js-logo.png); }